/*@author: Iverson Dantas || quinta-feira,18 de maio de 2016 || redsigne Castro Neves*/
@font-face {font-family: "font-menu";src: url(fonts/BreeSerif-Regular.otf);}
@font-face {font-family: "font-titulos";src: url(fonts/Muchacho.otf);}
@font-face {font-family: "font-texto";src: url(fonts/Din_light.ttf);}

/* STYLOS PRINCIPAIS*/
/*itulos*/
h1.title-secao{    font-family: font-titulos,serif;color: #f47811;border-bottom: 3px solid #0057b9;display: table;margin: 0 auto;font-size: 4.5rem;font-weight: 100;padding: .5rem 1.5rem;letter-spacing: 2px; text-transform: uppercase; }
h1{font-family: font-titulos,serif;color: #f47811;display: table;margin: 0 0 1rem 0;font-size: 1.5rem;font-weight: 100;letter-spacing: 2px; text-transform: uppercase;}
h2{font-size: 1.2rem;}
p{ font-size: 1rem;line-height: 1.5rem; color: #0057b9;}
/*p,s,a{}*/

/*CABECALHO*/
.cabecalho{    background-color: #feefe1;display: table;width: 100%;border-bottom: 6px solid #f89338; position: relative}
.cabecalho nav{display: flex; align-items: center; margin: 0 auto; max-width: 1400px; width: 100%}
.menu{font-family: font-menu,sans-serif; display: flex; align-items: center}
.menu li{float: left}
.logo{    max-width: 170px;float: left;margin: 0 1rem;text-align: center;}
.menu a{        color: #0057b9;padding: 3rem 1rem;display: table;font-size: 1rem;font-weight: 100;text-align: center;}
.menu a:hover{background-color: #f89338; color:#fff}
.search {margin-left: .5rem;display: flex;align-items: center;}
.search input[type="search"]{width: 16px; display: block; transition: all .3s; padding: .5rem; border: none; border-left:4px solid #f89338; margin-right: .5rem}
.search input[type="search"]:focus{width: 80%; outline-color: #f89338}

/* INSTITUCIONAL */
.institucional{ margin: 0 auto;background: #feefe1;}
.titulo{ margin-top: 3rem; }
.centro{ margin: 0 auto; max-width: 980px; width: calc(100% - 3rem);}

/* APRESENTAÇÃO */
.apresentacaoBox { padding: 1rem 0;}
/*NOSSAS EMPREENDIMENTOS INDEX*/
[data-slider="empreend"]{margin: 2rem auto 0; max-width: 70%}
.empreenIndex{ background: #feefe1;}

/* NOTÍCIAS INDEX */
.noticiasIndex{ margin: 2rem auto 0; max-width: 980px; font-family: "font-texto"; width: calc(100% - 4rem);}
.leiaMais{ display: block; width: 150px; border: 1px solid #0057B9; background: none; padding: .5rem; color: #0057B9; text-align: center; border-radius: 10px; font-size: 1rem; margin: 2rem auto;}
.leiaMais:hover{ background: #0057B9; color: #fff;}
.noticiasIndex ul li:last-child{ margin-right: 0;}
.noticiasIndex ul{margin-top: 3rem; display: table; }
.noticiasIndex li{ max-width: 300px; color: #0057B9; margin: 0 1rem;; float: left;    width: calc(33.333% - 2rem);}
.noticiasIndex li figure{ max-width: 300px; width: 100%;  overflow: hidden; max-height: 300px;margin-bottom: 1rem; }

/* DICAS */
.dicasImg{ max-width: 150px; float: left; margin-right: 1rem;}
.dicasTexto{float: left; max-width: 800px; width: 100%;}
.apresentacaoBox{ clear: both;}

/* NOTÍCIAS */
.noticiaBox{ padding-top: 3rem;}
.noticiaImg{ max-width: 300px; float: left; margin-right: 2rem;}
.tituloInterna{ padding-bottom: 1rem; border-bottom: 2px solid #0057B9;}
.data{ font-size: 1rem; color: #04488C;font-family: "font-texto";}
.outrasNoticias{ padding-top: 2rem;}
.outrasNoticias ul{ margin: 2rem auto; max-width: 700px; text-align: center; }
.outrasNoticias li{ display: inline-flex;align-items: center; background-color: #D1DDE5; margin: .5rem; display: block;}
.outrasNoticias li a{ display: block; padding: .5rem;}
.outrasNoticias li a:hover{ background: #0057B9;}
.outrasNoticias li a:hover>span, .outrasNoticias li a:hover>p{ color: #fff;}
.outrasNoticias span {display: inline-block; margin-right: 1rem;}
.outrasNoticias p{display: inline-block;}
.pag{ max-width: 400px; margin: 0 auto;}
.pag li{ display: inline-block; border: 1px solid #0057B9; background: none;}
.pag li a{ display: block; color: #0057B9; text-align: center; font-size: 1rem; padding: .7rem 1rem; font-family: "font-texto";}
.pag li a:hover{ color: #fff;}

/* CONTATO */
.formContato input{ background: none; border: 1px solid #04488C; padding: .5rem; border-radius: 5px; width: 100%;}
select{background: none; border: 1px solid #04488C; padding: .5rem; border-radius: 5px;}
textarea{background: none; border: 1px solid #04488C; padding: .5rem; border-radius: 5px;width: 100%;}
.formContato{max-width: 700px; margin: 0 auto; width: 100%; text-align: center; padding-top: 3rem;}
label p{ font-size: 1rem; color: #0057B9; font-family: "font-texto"; display: inline-block;margin-right: 1rem;   max-width: 100px; width: 100%; text-align: left;}
select{font-size: 1rem; color: #0057B9; font-family: "font-texto"; max-width: 150px;width: 100%;}
.formContato label{ margin: 1rem 0; display:flex; width: 100%; }
.formContato label.newsletter{ max-width: 460px; margin: 0 auto 1rem; display: table;}
.newsletter input{ width: 13px;float: left;margin: .4rem .5rem .4rem 0;}
.newsletter p{ float: left; width: 100%;}
input[type=submit]{ max-width: 298px; color: #0057B9;float: right; cursor: pointer; position: relative; left: -41%;}
input[type=submit]:hover{ background: #0057B9; color: #fff;}

/* BANNER */
#banner .owl-nav{ display: none;}

/* LANÇAMENTOS */
.lancamento{ padding-top: 3rem;}
.lancamentoImg{ float: left; max-width: 300px; overflow: hidden;}
.lancamentoTitulo{ background: #fff; padding: 1rem; border: 1px solid #0057b9; padding-left: 2rem; color: #f47811; font-family: "font-texto"; font-size: 1rem;}
.lancamentoTexto{float: left;    max-width: 650px; width: 100%;}
.lancamentoBox{ margin: 2rem 0 2rem 2rem;}
.lancamentoBox h1{ text-transform: uppercase;}
.lancamentoGaleria{ max-width: 980px; margin: 0 auto; width: calc(100% - 2rem);}
.lancamentoGaleria h1{ display: inline-block;}
.bordaLateral{ display: inline-block; height: 5px; background-color: #0057B9; width: calc(100% - 2rem); max-width: 747px; margin: 0 0 7px 1rem;}
.lancamentos .owl-nav{ margin: 2rem auto 0;text-align: center; position: inherit;}
.lancamentos .owl-nav div{ display: inline-block; margin: 0 1rem; position: inherit;}

/* RODAPÉ */
footer{ clear: both; background: #feefe1; width: 100%;font-family: "font-texto";}
.rodape{ margin: 0 auto; padding: 2rem 0; max-width: 980px; width: calc(100% - 4rem);}
.rodapeTexto{ color: #0057B9; float: left;}
.base{ float: right;}
.marca img {width:100%;}
.marca {width:39px;height:47px;-moz-transition: all .15 cubic-bezier(.17,.67,.83,.67); -ms-transition: all .15s cubic-bezier(.17,.67,.83,.67); -o-transition: all .15s cubic-bezier(.17,.67,.83,.67); transition: all .15s cubic-bezier(.17,.67,.83,.67);}
.marca:hover {right:-5px;top:-5px;width:50px;height:66px;}

.owl-nav {width: 100%;position: absolute;top: 50%;}
.owl-nav div {position: absolute;}
.owl-prev::before{content: url("../icons/arrow.png");    display: table;transform: rotate(-180deg);}
.owl-prev{ right: 101%;}
.owl-next::before{content: url("../icons/arrow.png");    display: table;left: 105%;}
.owl-next{left: 101%;}

.bg{ background: url("../img/bg.png") no-repeat center; height: 162px; margin-top: -3rem;}
.bg2{background: url("../img/bg2.png") no-repeat center; height: 140px;}

/*MEDIATYPES tela width:1200PX*/
@media screen and (max-width: 1200px){
    /*menu*/
    .menu li {float: none;clear: both;display: block;    }
    .cabecalho nav {display: block;}
    .menu{display: block}
    .menu a {padding: 1rem; width: 100%}
    span[title="button-menu"]{ cursor: pointer;width: 48px;height: 38px;background: url('../icons/menu.png') no-repeat;display: block;right: 6%;background-size: 100% 100%;position: absolute;top: 20px;z-index: 999;}
    ul.menu{display: none;}
    ul.menu.ativo {display: block; transition: 1s;}
.search{position: absolute;right: 5%;top: 65px;}
}

/*MEDIATYPES tela width:700PX*/
@media screen and (max-width: 700px){

    .search {display: none;}
    /*menu*/
    @keyframes anime-menu {
        0%{transform: scale(.1);left: 100%; bottom:100%}
        20%{ left:60%; bottom: 80% }
        50%{left:50%;bottom:50%; }
        95%{transform: scale(.5);;bottom:-10%; left:0 }
        100%{transform: scale(1); bottom: 0; left: 0; }
    }
    .menu {display: none; }

    .menu.ativo {display: block;position: fixed;width: 100%;height: 100%;background: rgba(255, 255, 255, 0.93);z-index: 800;padding: 4rem;overflow: auto;  transform: scale(.1);left: 100%; bottom:100%;animation: anime-menu .5s  linear 1 forwards  }
    .noticiasIndex li { max-width: 100%; margin: 0 auto; text-align: center; width: 100%;}
    .noticiasIndex li figure{ margin: 0 auto 1rem;}
    .lancamentoImg{ float: none; margin: 0 auto;}
    .lancamentoGaleria h1 { text-align: center; display: block; margin-top: 2rem;}
}

@media screen and (max-width: 500px) {
    h1.title-secao{ padding:.5rem 0; text-align: center; }
    .noticiasIndex li{ text-align: center; float: none; margin: 0 0 2rem 0;}
    .rodapeTexto{float: none; text-align: center;}
    .base{ float: none; max-width: 50px; margin: 2rem auto 0;}
    .centro{ text-align: center;}
    .centro h1{display: block;}
    .dicasImg{ max-width: 100%; margin: 0 auto; float: none;}
    .formContato label{ display: block;}
    label p{display: block;padding-bottom: .5rem; margin-right: 0;}
    select{ max-width: 100%;}
    input[type=submit]{ float: none;}
    .newsletter p{ float: none;}
    .lancamentoBox {margin: 2rem 0;}
}